.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-weight: 700;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__title {
  margin: 0;
  font-size: 1rem;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
}

.modal__label_type_radio {
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__radio-input {
}

.modal__submit {
}
