.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.page_content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
